##############################################################################
# Copyright (c) 2022, 2023 Leon Lynch
#
# This file is licensed under the terms of the LGPL v2.1 license.
# See LICENSE file.
##############################################################################

name: Fedora build

on: [push]

jobs:
  build-fedora-debug:
    strategy:
      fail-fast: false
      matrix:
        include:
          - { name: "Fedora 37", fedora_version: 37 }
          - { name: "Fedora 38", fedora_version: 38 }
          - { name: "Fedora 39", fedora_version: 39 }

    name: ${{ matrix.name }} build (static/debug)
    runs-on: ubuntu-latest
    container: fedora:${{ matrix.fedora_version }}

    steps:
    - name: Install dependencies
      run: |
        sudo dnf -y install git cmake gcc mbedtls-devel

    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: recursive

    # Container user doesn't match runner user
    # Github has only fixed https://github.com/actions/checkout/issues/760
    # not https://github.com/actions/checkout/issues/766
    - name: Configure Git
      run: |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
        git describe --always --dirty

    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE="Debug"

    - name: Build
      run: cmake --build build

    - name: Test
      run: ctest --test-dir build --output-on-failure

  build-fedora-release:
    strategy:
      fail-fast: false
      matrix:
        include:
          - { name: "Fedora 37", fedora_version: 37 }
          - { name: "Fedora 38", fedora_version: 38 }
          - { name: "Fedora 39", fedora_version: 39 }

    name: ${{ matrix.name }} release
    runs-on: ubuntu-latest
    container: fedora:${{ matrix.fedora_version }}

    steps:
    - name: Install dependencies
      run: |
        sudo dnf -y install git cmake gcc mbedtls-devel bash-completion doxygen rpm-build

    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive

    # Container user doesn't match runner user
    # Github has only fixed https://github.com/actions/checkout/issues/760
    # not https://github.com/actions/checkout/issues/766
    - name: Configure Git
      run: |
        git config --global --add safe.directory "$GITHUB_WORKSPACE"
        git describe --always --dirty

    - name: Get version from git tag
      run: echo "GIT_DESCRIBE=$(git describe --always --dirty)" >> $GITHUB_ENV

    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE="RelWithDebInfo" -DCMAKE_INSTALL_PREFIX=/usr -DBUILD_SHARED_LIBS=YES -DBUILD_DOCS=YES -DCPACK_COMPONENTS_GROUPING=ALL_COMPONENTS_IN_ONE

    - name: Build
      run: cmake --build build

    - name: Test
      run: ctest --test-dir build --output-on-failure

    - name: Package
      run: cmake --build build --target package

    - name: Upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: tr31-${{ env.GIT_DESCRIBE }}-fedora${{ matrix.fedora_version }}
        path: build/tr31-*.rpm
        if-no-files-found: error
